#saveBtn {
    margin-top: 5px;
}

#title {
    margin-bottom: 5px;
}

#movieList {
    grid-row-start: 4;
    grid-row-end: 5;
}

h3 {
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 5px;
}

h4 {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 20px;
}

#movieForm {
    grid-row-start: 2;
    grid-row-end: 3;
}

#movieApp {
    background-color: rgb(208, 227, 243);
    display: grid;
    max-width: 30%;
    min-width: 400px;
    margin: auto;
    grid-template-rows: auto auto auto auto auto;
    border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  margin-top: 20px;
}

#alfaBtn {
    max-width: fit-content;
}

#betygBtn {
    max-width: fit-content;
    margin-left: 5px;
}

#btns {
    grid-row-start: 5;
    display: flex;
}

li {
  display: grid;
  margin-top: 5px;
  grid-template-columns: 70% 25% 5%;
  background-color: rgb(206, 208, 212);
  border-radius: 8px;
  border: 2px solid #8aaceb;
  padding: 5px;
}

#stars{
  grid-column-start: 2;
  grid-column-end: 3;
  }
  
  #title{
  grid-column-start: 1;
  grid-column-end: 2;
  }
  
  #cross{
  grid-column-start: 3;
  grid-column-end: 4;
  }